<form class="userform" id="passwordform" method="post" action="/password">
  <h1 class="h4">Change Login Account Password</h1>
  <label for="old-password">Old Password:</label>
  <input type="password" name="old_pass" id="old-password" value="" data-clear-btn="true" autocomplete="off" data-mini="true">
  <label for="new-password">New Password:</label>
  <input type="password" name="new_pass" id="new-password" value="" data-clear-btn="true" autocomplete="off" data-mini="true">
  <form align="right">
    <input data-rel="close" class="btn btn-sm btn-outline-warning" type="submit" value="Submit">
  </form>
</form>
<br><br>
