<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); -%>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div align="center"></div>
            <p>
              <font color="red"><%= message %></font>
            </p>
          </div>
        </main>
      </div>
      <%- include('footer'); -%>
    </div>
  </body>
</html>