<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <div class="container">
      <form>
        <div class="ui-field-contain">
          <select name="select-native-3" id="select-native-3" data-iconpos="left">
            <option value="1">The 1st Option</option>
            <option value="2">The 2nd Option</option>
            <option value="3">The 3rd Option</option>
            <option value="4">The 4th Option</option>
          </select>
        </div>
      </form>
    </div>
  </body>
</html
