<title>Spark Property Manager</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="/jquery-ui-dist/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="/jquery-mobile/dist/jquery.mobile.css">
<link rel="stylesheet" type="text/css" href="/jquery-mobile/dist/demos/_assets/css/jqm-demos.css">
<!--<link rel="shortcut icon" href="jquery-mobile/demos/favicon.ico">-->
<link rel="stylesheet" type="text/css" href="/datatables/media/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/datatables.net-dt/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<script type="text/javascript" src="/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/jquery-ui-dist/jquery-ui.min.js"></script>
<script type="text/javascript" src="/jquery-mobile/dist/jquery.mobile.min.js"></script>
<!-- <script type="text/javascript" src="/jquery-mobile/dist/demos/_assets/js/jqm-demos.js"></script> -->
<script type="text/javascript" src="/datatables.net/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/chart.js/dist/Chart.bundle.min.js"></script>
