<title>Spark Property Manager</title>
<link rel="stylesheet" href="jquery-mobile/dist/jquery.mobile.css">
<link rel="stylesheet" href="jquery-mobile/dist/demos/_assets/css/jqm-demos.css">
<!--<link rel="shortcut icon" href="jquery-mobile/demos/favicon.ico">-->
<script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="jquery-mobile/dist/jquery.mobile.min.js"></script>
<script type="text/javascript" src="jquery-mobile/dist/demos/_assets/js/jqm-demos.js"></script>
