<title>Spark Property Manager</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="/jquery-ui-dist/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/datatables/media/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/datatables.net-dt/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">
<script type="text/javascript" src="/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/jquery.cookie/jquery.cookie.js"></script>
<script type="text/javascript" src="/jquery-ui-dist/jquery-ui.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/feather-icons/dist/feather.min.js"></script>
<script type="text/javascript" src="/datatables.net/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/chart.js/dist/Chart.bundle.min.js"></script>

<style>
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}
</style>
