<!DOCTYPE html>
<html>
  <head>
    <%- include('head', { legacyUi: false, reactPage: reactPage }); -%>
  </head>
  <body>
    <%- include('react-root', { reactPage: reactPage, reactBootstrap: reactBootstrap }); -%>
  </body>
</html>
