<!DOCTYPE html>
<html>
  <head>
    <% include head %>
    <!-- <script type="text/javascript" src="/javascripts/commons.js"></script> -->
  </head>
  <body>
    <% include header %>
    <div class="container">
      <script>
      var chartByType;
      var chartByUnit;
      var chartByMonth;

      function expenseByType() {
        $.get("/expenses/types", function(data, status){
          var ctx = document.getElementById('chartByType').getContext('2d');
          chartByType = new Chart(ctx,{
            type: 'doughnut',
            data: data,
            options: {
              title: {
                 display: true,
                 text: 'Expense By Type'
              }
            }
          });
        });
      }

      function expenseByUnit() {
        $.get("/expenses/units", function(data, status){
          var ctx = document.getElementById('chartByUnit').getContext('2d');
          chartByUnit = new Chart(ctx,{
            type: 'doughnut',
            data: data,
            options: {
              title: {
                 display: true,
                 text: 'Expense By Unit'
              }
            }
          });
        });
      }

      function expenseByTime() {
        $.get("/expenses/times", function(data, status){
          var ctx = document.getElementById('chartByTime').getContext('2d');
          chartByMonth = new Chart(ctx,{
            type: 'bar',
            data: data,
            options: {
              title: {
                 display: true,
                 text: 'Expense By Month'
              }
            }
          });
        });
      }

      $(document).ready(function(){
        // $('#start-date' ).datepicker({
        //   onSelect: function (date, instance) {
        //   }
        // });
        //
        // $('#end-date' ).datepicker({
        //   onSelect: function (date, instance) {
        //   }
        // });
        //
        // $( "#start-date" ).datepicker( "setDate", new Date(new Date().getFullYear(), 0, 1));
        // $( "#end-date" ).datepicker( "setDate", new Date());

        expenseByType();
        expenseByUnit();
        expenseByTime();

      });
      </script>
      <h1>Dashboard</h1>
      <br><br>
      <canvas id="chartByType" width="50" height="50"></canvas>
      <br><br><br><br>
      <canvas id="chartByUnit" width="50" height="50"></canvas>
      <br><br><br><br>
      <canvas id="chartByTime" width="50" height="50"></canvas>
      <br><br><br><br>
      <!-- <h3>Draw Expense Charts Between Dates</h3>
      <label for="start-date">Start Date:</label>
      <input type="text" data-role="date" id="start-date">
      <label for="end-date">End Date:</label>
      <input type="text" data-role="date" id="end-date">
      <form>
        <input type="button" data-inline="true" id="submit-button" value="Draw">
      </form> -->
      <br><br><br><br>
      <input type="button" value="Expense Manager" onclick="window.location.href='/manager/expense'" />
      <input type="button" value="Import Manager" onclick="window.location.href='/manager/import'" />
      <input type="button" value="Work Manager" onclick="window.location.href='/manager/work'" />
      <input type="button" value="Vendor Manager" onclick="window.location.href='/manager/vendor'" />
      <input type="button" value="Tenant Manager" onclick="window.location.href='/manager/tenant'" />
      <%if (manager > 0) { %>
        <input type="button" value="Property Manager" onclick="window.location.href='/manager/property'" />
        <input type="button" value="Unit Manager" onclick="window.location.href='/manager/unit'" />
        <input type="button" value="User Manager" onclick="window.location.href='/manager/user'" />
      <% } %>
      <br>
      <div align="center">
        <p><font color="red"><%= message %></font></p>
      </div>
      <br><br>
      <form action="/logout">
        <input type="submit" value="Logout" />
      </form>
    </div>
    <% include panel %>
    <% include config %>
    <% include footer %>
  </body>
</html>
