<!DOCTYPE html>
<html>
  <head>
    <% include head %>
    <!-- <script type="text/javascript" src="/javascripts/commons.js"></script> -->
  </head>
  <body>
    <% include header %>
    <div class="container">
      <script>
      function expenseByType() {
        var startDate = $('#start-date').datepicker("getDate");
        var endDate = $('#end-date').datepicker("getDate");
        $.get("/expenses/types?start="+ [startDate.getFullYear(), ( startDate.getMonth() + 1 ), startDate.getDate()].join("-")
            + "&end=" +[endDate.getFullYear(), ( endDate.getMonth() + 1 ), endDate.getDate()].join("-"),
          function(data, status){
            var ctx = document.getElementById('chartByType').getContext('2d');
            window.chartByType = new Chart(ctx,{
              type: 'doughnut',
              data: data,
              options: {
                title: {
                   display: true,
                   text: 'Expense By Type'
                },
                legend: {
                  display: true,
                }
              }
            });
        });
      }

      function expenseByUnit() {
        var startDate = $('#start-date').datepicker("getDate");
        var endDate = $('#end-date').datepicker("getDate");
        $.get("/expenses/units?start="+ [startDate.getFullYear(), ( startDate.getMonth() + 1 ), startDate.getDate()].join("-")
            + "&end=" +[endDate.getFullYear(), ( endDate.getMonth() + 1 ), endDate.getDate()].join("-"),
          function(data, status){
            var ctx = document.getElementById('chartByUnit').getContext('2d');
            window.chartByUnit = new Chart(ctx,{
              type: 'doughnut',
              data: data,
              options: {
                title: {
                   display: true,
                   text: 'Expense By Unit'
                }
              }
            });
        });
      }

      function expenseByTime() {
        var startDate = $('#start-date').datepicker("getDate");
        var endDate = $('#end-date').datepicker("getDate");
        $.get("/expenses/times?start="+ [startDate.getFullYear(), ( startDate.getMonth() + 1 ), startDate.getDate()].join("-")
            + "&end=" +[endDate.getFullYear(), ( endDate.getMonth() + 1 ), endDate.getDate()].join("-"),
          function(data, status){
            var ctx = document.getElementById('chartByTime').getContext('2d');
            window.chartByMonth = new Chart(ctx,{
              type: 'bar',
              data: data,
              options: {
                title: {
                   display: true,
                   text: 'Expense By Month'
                },
                scales: {
                  xAxes: [
                    {
                      stacked: true,
                    }
                  ],
                  yAxes: [
                    {
                      stacked: true,
                      display: true,
                      type: 'linear',
                      ticks: {
                        beginAtZero: true
                      }
                    },
                    {
                      id: 'logarithmic',
                      stacked: false,
                      display: true,
                      type: 'logarithmic',
                      gridLines: {
                        color: 'rgba(54, 162, 235, 0.5)'
                      },
                      ticks: {
                        autoSkip: true,
                        // min: 0,
                        beginAtZero: true,
                        callback: function (value, index, values) {
                            if( value==100
                              || value==1000
                              || value==10000
                              || value==100000
                              || value==1000000) {
                                return value ;
                            }
                        }
                      }
                    }
                  ]
                }
              }
            });
        });
      }

      $(document).ready(function(){
        $('#start-date' ).datepicker({
          onSelect: function (date, instance) {
          }
        });

        $('#end-date' ).datepicker({
          onSelect: function (date, instance) {
          }
        });

        $( "#start-date" ).datepicker( "setDate", new Date(new Date().getFullYear(), 0, 1));
        $( "#end-date" ).datepicker( "setDate", new Date());
        expenseByType();
        expenseByUnit();
        expenseByTime();
      });
      $(document).on('click', '#draw-button', function() {
        expenseByType();
        expenseByUnit();
        expenseByTime();
        $("html, body").animate({ scrollTop: 0 }, "slow");
      });
      $(document).on('click', '#download-button', function() {
        var startDate = $('#start-date').datepicker("getDate");
        var endDate = $('#end-date').datepicker("getDate");
        $.get("/expenses?start="+ [startDate.getFullYear(), ( startDate.getMonth() + 1 ), startDate.getDate()].join("-")
            + "&end=" +[endDate.getFullYear(), ( endDate.getMonth() + 1 ), endDate.getDate()].join("-"),
          function(data, status){
            console.log(Object.keys(data.data[0]).join(","));
            data.data.forEach(function(row) {
              console.log(Object.values(row).join(","));
            });
            // TODO make .csv file on browser
          });
      });
      </script>
      <h1>Dashboard</h1>
      <br><br>
      <canvas id="chartByType" width="50" height="50"></canvas>
      <br><br><br><br>
      <canvas id="chartByUnit" width="50" height="50"></canvas>
      <br><br><br><br>
      <canvas id="chartByTime" width="50" height="50"></canvas>
      <br><br><br><br>
      <h3>Selects Dates To Review Expenses</h3>
      <label for="start-date">Start Date:</label>
      <input type="text" data-role="date" id="start-date">
      <label for="end-date">End Date:</label>
      <input type="text" data-role="date" id="end-date">
      <form>
        <input type="button" data-inline="true" data-icon="edit" id="draw-button" value="Draw Charts">
        <input type="button" data-inline="true" data-icon="arrow-d" id="download-button" value="Download Report">
      </form>
      <br><br><br><br>
      <input type="button" value="Expense Manager" onclick="window.location.href='/manager/expense'" />
      <input type="button" value="Import Manager" onclick="window.location.href='/manager/import'" />
      <input type="button" value="Work Manager" onclick="window.location.href='/manager/work'" />
      <input type="button" value="Vendor Manager" onclick="window.location.href='/manager/vendor'" />
      <input type="button" value="Tenant Manager" onclick="window.location.href='/manager/tenant'" />
      <%if (manager > 0) { %>
        <input type="button" value="Property Manager" onclick="window.location.href='/manager/property'" />
        <input type="button" value="Unit Manager" onclick="window.location.href='/manager/unit'" />
        <input type="button" value="Payment Manager" onclick="window.location.href='/manager/payment'" />
        <input type="button" value="User Manager" onclick="window.location.href='/manager/user'" />
      <% } %>
      <br>
      <div align="center">
        <p><font color="red"><%= message %></font></p>
      </div>
      <br><br>
      <form action="/logout">
        <input type="submit" value="Logout" />
      </form>
    </div>
    <% include panel %>
    <% include config %>
    <% include footer %>
  </body>
</html>
