<!DOCTYPE html>
<html>
  <head>
    <% include head %>
    <!-- <script type="text/javascript" src="/javascripts/commons.js"></script> -->
    <script type="text/javascript" src="/javascripts/index-chart.js"></script>
  </head>
  <body>
    <% include header %>
    <div class="container">
      <h1>Dashboard</h1>
      <br><br>
      <canvas id="chartByType" width="50" height="50"></canvas>
      <br><br><br><br>
      <canvas id="chartByUnit" width="50" height="50"></canvas>
      <br><br><br><br>
      <canvas id="chartByTime" width="50" height="50"></canvas>
      <br><br><br><br>
      <input type="button" value="Expense Manager" onclick="window.location.href='/manager/expense'" />
      <input type="button" value="Import Manager" onclick="window.location.href='/manager/import'" />
      <input type="button" value="Tenant Manager" onclick="window.location.href='/manager/tenant'" />
      <%if (manager > 0) { %>
        <input type="button" value="Property Manager" onclick="window.location.href='/manager/property'" />
        <input type="button" value="Unit Manager" onclick="window.location.href='/manager/unit'" />
        <input type="button" value="User Manager" onclick="window.location.href='/manager/user'" />
      <% } %>
      <br>
      <div align="center">
        <p><font color="red"><%= message %></font></p>
      </div>
      <br><br>
      <form action="/logout">
        <input type="submit" value="Logout" />
      </form>
    </div>
    <% include panel %>
    <% include config %>
    <% include footer %>
  </body>
</html>
