<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); -%>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <br>
          <h1 class="h4">Spark Property Manager</h1>
          <br>
          <form method="post" action="/login">
            <p>
              <input type="text" class="form-control input-sm" name="username" placeholder="Username">
            </p>
            <p>
              <input type="password" class="form-control input-sm" name="password" placeholder="Password">
            </p>
            <p>
              <input type="submit" class="btn btn-primary btn-lg btn-block" value="Login">
            </p>
          </form>
          <div align="center"></div>
            <p>
              <font color="red"><%= message %></font>
            </p>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
