<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); -%>
  </head>
  <body>
    <div class="container-fluid" style="max-width: 480px;">
      <div class="row">
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <br>
          <h1 class="h4">Change Login Account Password</h1>
          <br>
          <form method="post" action="/password">
            <p>
              <label>Old Password</label>
              <input type="password" class="form-control input-sm" name="old_pass" placeholder="Old password">
            </p>
            <p>
              <label>New Password</label>
              <input type="password" class="form-control input-sm" name="new_pass" placeholder="New password">
            </p>
            <p>
              <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
            </p>
          </form>
          <p class="text-danger"><%= message %></p>
        </main>
      </div>
    </div>
  </body>
</html>
