<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <div class="container">
      <h1 class="h4">Create Account</h1>
      <div align="center">
        <p>Please provide Email address, temporary password will be sent to the email address</p>
      </div>
      <form method="post" action="/subscribe">
        <p>
          <label>Email Address:</label>
          <input type="text" name="email">
        </p>
        <p>
          <input type="submit" value="Create">
        </p>
      </form>
      <a href="/">Go Back To Login</a>
      <div align="center">
        <p><font color="black"><%= message %></font></p>
        <p><font color="red"><%= error_message %></font></p>
      </div>
  </body>
</html>
