<!DOCTYPE html>
<html>
  <head>
    <% include head %>
    <script type="text/javascript" src="/javascripts/commons.js"></script>
    <script type="text/javascript" src="/javascripts/user-manager.js"></script>
  </head>
  <body>
    <% include header %>
    <div class="container">
      <h1><%= title %></h1>
      <br>
      <div align="center">
        <p>Any Change Will Make Password Reset and Send New Password to The Email</p>
      </div>
      <form>
        <label for="email-text">Email:</label>
        <input type="text" data-clear-btn="true" name="email-text" id="email-text" value="">
        <br>
        <label for="firstname-text">Firstname:</label>
        <input type="text" data-clear-btn="true" name="firstname-text" id="firstname-text" value="">
        <br>
        <label for="lastname-text">Lastname:</label>
        <input type="text" data-clear-btn="true" name="lastname-text" id="lastname-text" value="">
        <br>
        <label for="phone-text">Phone:</label>
        <input type="text" data-clear-btn="true" name="phone-text" id="phone-text" value="">
        <br>
        <label for="is-manager-checkbox">This User Is Manager</label>
        <input type="checkbox" name="is-manager-checkbox" id="is-manager-checkbox">
        <!-- <input type="radio" name="radio-enhanced" id="is-building-radio" data-enhanced="true"> -->
      </form>
      <br><br><br>
      <form align="right">
        <input type="button" data-inline="true" id="submit-button" value="Submit">
      </form>
      <br><br><br><br>
      <hr>
      <br><br>
      <button id="edit-button" class="ui-btn ui-btn-inline">Edit Selected</button>
      <button id="delete-button" class="ui-btn ui-btn-inline">Delete Selected</button>
      <br><br>
      <table id="users" class="display" style="border-collapse:collapse;border-spacing:0;width:100%">
        <thead>
          <tr>
            <th><input name="select_all" value="1" type="checkbox"></th>
            <th>Id</th>
            <th>email</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>phone</th>
            <th>isManager</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th>Id</th>
            <th>email</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>phone</th>
            <th>isManager</th>
          </tr>
        </tfoot>
      </table>
      <br><br>
    </div>
    <% include panel %>
    <% include config %>
    <% include footer %>
  </body>
</html>
