<!DOCTYPE html>
<html>
  <head>
    <% include head %>
    <script type="text/javascript" src="/javascripts/commons.js"></script>
    <script type="text/javascript" src="/javascripts/vendor-manager.js"></script>
  </head>
  <body>
    <% include header %>
    <div class="container">
      <h1><%= title %></h1>
      <br>
      <form>
        <label for="name-text">Name:</label>
        <input type="text" data-clear-btn="true" name="name-text" id="name-text" value="">
        <br>
        <label for="phone-text">Phone:</label>
        <input type="text" data-clear-btn="true" name="phone-text" id="phone-text" value="">
        <br>
        <label for="email-text">Email:</label>
        <input type="text" data-clear-btn="true" name="email-text" id="email-text" value="">
        <br>
        <label for="category-text">Category:</label>
        <input type="text" data-clear-btn="true" name="category-text" id="category-text" value="">
        <br>
        <label for="note-text">Note:</label>
        <input type="text" data-clear-btn="true" name="note-text" id="note-text" value="">
        <br>
      </form>
      <br><br><br>
      <form align="right">
        <input type="button" data-inline="true" id="submit-button" value="Submit">
      </form>
      <br><br><br><br>
      <hr>
      <br><br>
      <button id="edit-button" class="ui-btn ui-btn-inline">Edit Selected</button>
      <button id="delete-button" class="ui-btn ui-btn-inline">Delete Selected</button>
      <br><br>
      <table id="vendors" class="display" style="border-collapse:collapse;border-spacing:0;width:100%">
        <thead>
          <tr>
            <th><input name="select_all" value="1" type="checkbox"></th>
            <th>Id</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Category</th>
            <th>Note</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th>Id</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Category</th>
            <th>Note</th>
          </tr>
        </tfoot>
      </table>
      <br><br>
    </div>
    <% include panel %>
    <% include config %>
    <% include footer %>
  </body>
</html>
