<!DOCTYPE html>
<html>
  <head>
    <% include head %>
    <meta name="csrf-token" content=<%= csrfToken %>>
    <script type="text/javascript" src="/javascripts/commons.js"></script>
    <script type="text/javascript" src="/javascripts/work-manager.js"></script>
  </head>
  <body>
    <% include header %>
    <div class="container">
      <h1><%= title %></h1>
      <br>
      <form>
        <label for="property-select" class="select ui-select">Property:</label>
        <select name="select-native-1" id="property-select">
          <option value="1">Select Property</option>
        </select>
        <br>
        <label for="unit-select" class="select ui-select">Unit:</label>
        <select name="select-native-1" id="unit-select">
          <option value="1">Select Unit</option>
        </select>
        <br>
        <label for="description-text">Description:</label>
        <input type="text" data-clear-btn="true" name="description-text" id="description-text" value="">
        <br>
        <label for="status-select">Status:</label>
        <select name="select-native-1" id="status-select">
          <option value="not started" selected="selected">Not Started</option>
          <option value="started">Started</option>
          <option value="completed">Completed</option>
          <option value="cancelled">Cancelled</option>
        </select>
        <br>
        <label for="estimation-text">Estimation:</label>
        <input type="number" data-clear-btn="true" name="estimation-text" id="estimation-text" value="">
        <br>
        <label for="vendor-select" class="select ui-select">Vendor:</label>
        <select name="select-native-1" id="vendor-select">
          <option value="1">Select Vendor</option>
        </select>
        <br>
        <label for="name-text">Vendor Name:</label>
        <input type="text" data-clear-btn="true" name="name-text" id="name-text" value="">
        <br>
        <label for="phone-text">Vendor Phone:</label>
        <input type="text" data-clear-btn="true" name="phone-text" id="phone-text" value="">
        <br>
        <label for="email-text">Vendor Email:</label>
        <input type="text" data-clear-btn="true" name="email-text" id="email-text" value="">
        <br>
        <label for="work-start-date">Work Start Date</label>
        <input type="text" data-role="date" id="work-start-date">
        <label for="work-end-date">Work End Date</label>
        <input type="text" data-role="date" id="work-end-date">
        <!-- <input type="radio" name="radio-enhanced" id="is-building-radio" data-enhanced="true"> -->
      </form>
      <br><br><br>
      <form align="right">
        <input type="button" data-inline="true" id="submit-button" value="Submit">
      </form>
      <br><br><br><br>
      <hr>
      <br><br>
      <button id="edit-button" class="ui-btn ui-btn-inline">Edit Selected</button>
      <button id="delete-button" class="ui-btn ui-btn-inline">Delete Selected</button>
      <br><br>
      <table id="works" class="display" style="border-collapse:collapse;border-spacing:0;width:100%">
        <thead>
          <tr>
            <th><input name="select_all" value="1" type="checkbox"></th>
            <th>Id</th>
            <th>PropertyUnit</th>
            <th>Description</th>
            <th>Status</th>
            <th>Estimation</th>
            <th>ScheduleDate</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>VendorName</th>
            <th>VendorPhone</th>
            <th>VendorEmail</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th>Id</th>
            <th>PropertyUnit</th>
            <th>Description</th>
            <th>Status</th>
            <th>Estimation</th>
            <th>ScheduleDate</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>VendorName</th>
            <th>VendorPhone</th>
            <th>VendorEmail</th>
          </tr>
        </tfoot>
      </table>
      <br><br>
    </div>
    <% include panel %>
    <% include config %>
    <% include footer %>
  </body>
</html>
